$primary-color: #4285f4; // Google's blue color
$text-color: #333;
$font-stack: "Roboto", sans-serif;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  margin-top: 40px;
  @media (max-width: 768px) {
    padding: 0 20px;
  }
  height: 100vh;
}

.title {
  color: $text-color;
  font-family: $font-stack;
  margin-bottom: 20px;
}
