@keyframes weaveAnimation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 50px 50px;
  }
}

.placeholder {
  background-color: #f0f0f0;
  background-image: linear-gradient(
    45deg,
    rgba(200, 200, 200, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(200, 200, 200, 0.2) 50%,
    rgba(200, 200, 200, 0.2) 75%,
    transparent 75%,
    transparent
  );
  background-size: 50px 50px;
  animation: weaveAnimation 2s linear infinite;
}
