.wrapper {
  width: 600px;
  padding: 20px;
}

.header {
  margin-bottom: 20px;
  color: "#333";
  font-size: 18px;
  text-align: center;
}

.message {
  margin-top: 60px;
  color: "#333";
  font-size: 18px;
  text-align: center;
}

.errorMessage {
  margin-top: 60px;
  color: red;
  font-size: 18px;
  text-align: center;
}
